.row { margin: 0 -0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row:before, .row:after { content: ''; display: table; }

.row:after { clear: both; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 { float: left; padding: 0 0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.col-1 { width: 16.666666666666668%; }

.col-2 { width: 33.333333333333336%; }

.col-3 { width: 50%; }

.col-4 { width: 66.66666666666667%; }

.col-5 { width: 83.33333333333333%; }

.col-6 { width: 100%; }

* { margin: 0; }

body { background-color: #F8BBD0; font-family: 'Roboto', sans-serif; }

a { text-decoration: none; color: inherit; }

.container { margin: 0 auto; max-width: 91%; }

#header { height: 3em; background-color: #F06292; color: #FFFFFF; }
#header .logo { padding: .4em 1.3em 0 0; float: left; }
#header .letter { padding: 15px 6px 0 6px; float: left; font-weight: 600; font-size: 1.1em; }
#header .letter:hover { font-size: 1.3em; }
#header .navbar-form { padding-top: 6px; float: right; width: 300px; height: 30px; }
#header .navbar-form input { float: left; height: 2.43em; padding-left: 5px; border: none; border-top-left-radius: 9px; border-bottom-left-radius: 9px; }
#header .navbar-form .btn-wrapper { float: left; }
#header .navbar-form .btn-wrapper .btn { background-color: #C51162; border: none; padding: 9px 18px; font-size: .9em; font-weight: 600; text-align: center; text-decoration: none; color: white; border-top-right-radius: 9px; border-bottom-right-radius: 9px; }

main { padding: 2em 0; }
main .list { list-style-type: none; }
main .list li { padding: .14em 0; }
main .center { position: absolute; left: 50%; transform: translate(-50%, 0); }
main .artists { text-align: center; text-transform: uppercase; }
main .albums { text-align: center; }
main .albums .album { padding: 1.2em 0; }
main .albums .album .info-album { font-size: 1.3em; }
main .albums .album .lyrics { font-size: 0.98em; }
main .lyric { text-align: center; }
main .lyric .lyric_name { padding: 0.8em 0; font-size: 1.3em; font-weight: 600; }
main .lyric .song { font-size: 0.98em; }

footer { display: none; width: 100%; height: 50px; text-align: center; }
