<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Fl</a>
        </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% block navbar %}{% endblock %}
            </ul>
     </div>
    </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
             <a class="copyright" href="/"><b>Flask-Lyrics</b></a>
          </div>
        </div>
      </div>
    </footer>

    {% block js %}{% endblock %}
</body>
</html>
